{% extends 'base.html' %}
{% load bootstrap %}

{% block body %}
    Edit
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'delete_employee' employee.id %}" class="btn btn-danger">
            Delete
        </a>
    </form>
<br>

<h4>Employee Documents</h4>
<ul>
    {% for document in employee.report_set.all %}
        <li>
            <a href="{{ document.file.url }}">{{ document.description }}</a>
            <a href="{% url 'delete_document' document.id %}">delete</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'create_document' employee.id %}" class="btn btn-success">Add document</a>
<br>

<h4>Overtime Register</h4>
<ul>
    {% for register in employee.overtimeregister_set.all %}
        <li><a href="{% url 'edit_overtime_register_employee' register.id %}">
            {{ register }} - {{ register.hours}}
        </a></li>
    {% endfor %}
</ul>

<h5>Total overtime hours - {{ employee.total_overtime_hours }}</h5>
{% endblock %}
